# Terragrunt & Terraform cache e stato
.terraform/
.terragrunt-cache/
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfplan

# Log generici
*.log

# File di variabili sensibili (modifica se hai file di esempio)
*.tfvars

# File di override locali
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# File di configurazione locali
.terraformrc
terraform.rc

